{#
    Source code for the home on chat.fosdem.org. Created by unknown (to me)
    FOSDEM-Matrix people.

    Parameters
        @param fosdem_year
        @param fosdem_dates
        @param devrooms
        @param main_tracks
        @param stands
#}
<style type="text/css">
    /* we deliberately inline style here to avoid flash-of-CSS problems, and to avoid
     * voodoo where we have to set display: none by default
     */

    .mx_HomePage {
        max-width: 100% ! important;
    }

    a {
        color: #3479c4;
        text-decoration: none;
        font-weight: 500;
        font-family: helvetica, arial, sans-serif;
    }


    p {
        font-size: 16px;
        line-height: 140%;
        font-weight: 500;
        font-family: helvetica, arial, sans-serif;
    }

    h1,
    h2,
    h3,
    h4 {
        font-weight: 600;
        font-family: helvetica, arial, sans-serif;
        line-height: 140%;
    }

    .button {
        padding: 10px 32px 10px 32px;
        border: none;
        border-radius: 8px;
        width: inherit;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: #3479c4;
        font-size: 16px;
        font-weight: 500;
        transition: ease-in 0.5s transform;
        -webkit-transition: ease 0.5s transform;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
    }

    .btn-main {
        margin-bottom: 5px;
    }

    .button:hover {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    .button.schedule {
        max-width: 200px
    }

    .container {
        margin-top: 10vh;
        margin-left: 10vh;
        margin-right: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 80%;
    }

    .welcome {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .welcome_text {
        text-align: center;
    }

    .welcome_text h1 {
        font-size: 42px;
        color: #888;
    }

    .starting_rooms {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        border: 1px solid #E3E8F0;
        border-radius: 8px;
        width: 130px;
        padding: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        text-align: center;
        transition: ease-in 0.5s transform;
        -webkit-transition: ease 0.5s transform;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
    }

    .card:hover {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.03);
        -moz-box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.03);
        box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.03);
    }

    .card img {
        align-items: center;
        display: block;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .card p {
        font-weight: 700;
    }

    .card h3 {
        text-align: left;
    }

    .card svg {
        align-items: center;
        display: block;
        margin-bottom: 10px;
    }

    .room_card img {
        display: block;
        margin-right: 10px;
    }

    .room_card p {
        margin: 0;
        font-weight: 700;
        text-align: left;
        font-size: 15px;
        margin-right: 50px;
    }

    .title_card h2 {
        margin: 0;
    }

    .room_text {
        display: contents;
    }

    .room_subtext {
        font-weight: 500;
    }

    .btn {
        margin-top: 0;
        margin-left: auto;
    }

    .section {
        justify-content: center;
        margin-top: 50px;
        text-align: center;
        flex-wrap: wrap;
    }

    .room_title {
        margin-bottom: 2rem;
        border-radius: .3rem;
        text-transform: uppercase;
        width: 100%;
        padding: 1rem 1rem 1rem 3rem;
    }

    .rooms {
        margin-top: 5rem;
        width: 100%;
    }

    .cards {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .welcome > .mx_AccessibleButton {
        color: #fff;
        font-size: 1.25em;
        margin-bottom: 10px;
        padding: 0.5em 1em;
        background-color: #ab1b93;
        border: none;
        vertical-align: middle;
    }
</style>

<div class="container">
    <div class="welcome">
        <a href="https://fosdem.org/{{ fosdem_year }}/" target="_blank" rel="noopener noreferrer">
          {% include 'banner.svg' %}
        </a>
    </div>
    <div class="welcome welcome_text">
        <h1>Welcome to FOSDEM {{ fosdem_year }}!</h1>
        <p>Welcome to our fully virtual version of the ULB, thanks to the amazing people at Matrix.org! FOSDEM is
            spread out over a lot of rooms at <i>chat.fosdem.org</i>. Use the webapp for the best experience.</p>
        <p>Visit the main <a href="/#/room/#fosdem{{ fosdem_year }}:fosdem.org">conference floor</a> to see all rooms or
            <a href="https://www.fosdem.org/{{ fosdem_year }}/schedule/" target="_blank" rel="noopener noreferrer">visit the schedule</a> to find out
            what's on in each room. Then
            click on your favourite room, sit back and enjoy the talk.</p>
        <p>Confused? Unsure how to proceed? <a href="https://www.fosdem.org/{{ fosdem_year }}/practical/online/" target="_blank" rel="noopener noreferrer">Visit
            the practical information page</a>,
            <a href="https://www.fosdem.org/{{ fosdem_year }}/faq/" target="_blank" rel="noopener noreferrer">look in the FAQ</a>
            or <a href="/#/room/#INFODESK:fosdem.org">talk to a
                human at the Infodesk</a>!</p>
    </div>
    <div class="welcome welcome_text">
        <a class="mx_AccessibleButton mx_AccessibleButton_hasKind mx_AccessibleButton_kind_primary" href="/#/room/#fosdem{{ fosdem_year }}:fosdem.org">FOSDEM {{ fosdem_year }} Conference Space</a>
        <a class="dark-panel button btn-main" href="#main_tracks">To the main tracks</a>
        <a class="dark-panel button btn-main" href="#devrooms">To the devrooms</a>
    {% if (stands | length) > 0 %}
        <a class="dark-panel button btn-main" href="#stands">To the stands</a>
    {% endif %}
    </div>
    <!-- Social -->
    <div class="rooms">
        <div class="dark-panel room_title">
            <h2>FOSDEM Social</h2>
        </div>
        <div class="cards">
            <div class="card">
                <p>The cafe</p>
                <a href="/#/room/#cafe:fosdem.org">
                    <div class="dark-panel button">Join</div>
                </a>
            </div>
            <div class="card">
                <p>The food trucks</p>
                <a href="/#/room/#food-trucks:fosdem.org">
                    <div class="dark-panel button">Join</div>
                </a>
            </div>
            <div class="card">
                <p>The beer event</p>
                <a href="/#/room/#beerevent:fosdem.org">
                    <div class="dark-panel button">Join</div>
                </a>
            </div>
            <div class="card">
                <p>K Building</p>
                <a href="/#/room/#k-building:fosdem.org">
                    <div class="dark-panel button">Join</div>
                </a>
            </div>
            <div class="card">
                <p>Cloakroom</p>
                <a href="/#/room/#cloakroom:fosdem.org">
                    <div class="dark-panel button">Join</div>
                </a>
            </div>
            <div class="card">
                <p>Infodesk</p>
                <a href="/#/room/#infodesk:fosdem.org">
                    <div class="dark-panel button">Join</div>
                </a>
            </div>
            <div class="card">
                <p>BoFs</p>
                <a href="/#/room/#bofs:fosdem.org">
                    <div class="dark-panel button">Join</div>
                </a>
            </div>
        </div>
    </div>
    <!-- Main tracks -->
    <div class="rooms">
        <div class="dark-panel room_title">
            <a id="main_tracks"></a>
            <h2>Main tracks</h2>
        </div>
        <div class="cards">
            {% for main_track in main_tracks %}
                <div class="card">
                    <div class="room_text">
                        <!--<img src="https://via.placeholder.com/32">-->
                        <p>{{ main_track.title }}</p>
                    </div>
                    <div class="room_subtext">
                        <p><a href="https://www.fosdem.org{{ main_track.url }}" target="_blank" rel="noopener noreferrer">Schedule</a>
                        </p>
                    </div>
                    <div class="btn"><a href="/#/room/#{{ main_track.slug }}:fosdem.org">
                        <div class="dark-panel button">Join Auditorium</div>
                    </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Devrooms -->
    <div class="rooms">
        <div class="dark-panel room_title">
            <a id="devrooms"></a>
            <h2>Devrooms - {{ day_name }}</h2>
        </div>
        <div class="cards">
            {% for devroom in devrooms %}
                <div class="card">
                    <div class="room_text">
                        <!--<img src="https://via.placeholder.com/32">-->
                        <p>{{ devroom.title }}</p>
                    </div>
                    <div class="room_subtext">
                        <p><a href="https://www.fosdem.org{{ devroom.url }}" target="_blank" rel="noopener noreferrer">Schedule</a>
                        </p>
                    </div>
                    <div class="btn"><a href="/#/room/#{{ devroom.slug }}:fosdem.org">
                        <div class="dark-panel button">Join Auditorium</div>
                    </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if (stands | length) > 0 %}
    <!-- Stands -->
    <div class="rooms">
        <div class="dark-panel room_title">
            <a id="stands"></a>
            <h2>Stands</h2>
        </div>
        <div class="cards">
            {% for stand in stands %}
                <div class="card">
                    <div class="room_text">
                        <!--<img src="https://via.placeholder.com/32">-->
                        <p>{{ stand.title }}</p>
                    </div>
                    <div class="room_subtext">
                        <p>
                            <a href="https://www.fosdem.org{{ stand.url }}" target="_blank" rel="noopener noreferrer">Schedule</a>
                        </p>
                    </div>
                    <div class="btn"><a href="/#/room/#{{ stand.track_slug }}:fosdem.org">
                        <div class="dark-panel button">Join</div>
                    </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
